<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/css/amazeui.min.css" />
    <link rel="stylesheet" href="/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/jquery.min.js"></script>

</head>

<body data-type="index">
    <script src="/js/theme.js"></script>
    <div class="am-g tpl-g">
        <% include header.ejs%>
        <% include nav.ejs%>
        <% if(path == 'income') {%>
        <% include income.ejs%>
        <% } else if(path == 'input') {%>
        <% include input.ejs%>
        <% } else if(path == 'details') {%>
        <% include details.ejs%>
        <% }%>
    </div>
    </div>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/amazeui.datatables.min.js"></script>
    <script src="/js/dataTables.responsive.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/extra.js"></script>
</body>

</html>