<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">订单录入</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">

                <form class="am-form tpl-form-border-form" method="post" action="/insertorder.ejs">
                    <div class="am-form-group">
                        <label for="input-customer" class="am-u-sm-12 am-form-label am-text-left">客户姓名 <span class="tpl-form-line-small-title">Customer</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="tpl-form-input am-margin-top-xs" id="input-customer" name="customer" placeholder="请输入客户姓名">
                            <small>客户姓名（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="input-goods" class="am-u-sm-12 am-form-label am-text-left">商品名称 <span class="tpl-form-line-small-title">Goods</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="tpl-form-input am-margin-top-xs" id="input-goods" name="goods" placeholder="请输入商品名称">
                            <small>商品名称（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="input-number" class="am-u-sm-12 am-form-label am-text-left">商品数量 <span class="tpl-form-line-small-title">Number</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="tpl-form-input am-margin-top-xs" id="input-number" name="number" placeholder="请输入商品数量">
                            <small>商品数量（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="input-total" class="am-u-sm-12 am-form-label am-text-left">订单总值 <span class="tpl-form-line-small-title">Value</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="tpl-form-input am-margin-top-xs" id="input-total" name="total" placeholder="请输入订单总值">
                            <small>订单总值（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="input-profit" class="am-u-sm-12 am-form-label am-text-left">该单盈利 <span class="tpl-form-line-small-title">Profit</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="tpl-form-input am-margin-top-xs" id="input-profit" name="profit" placeholder="请输入该单盈利">
                            <small>该单盈利（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="input-desc" class="am-u-sm-12 am-form-label  am-text-left">该单备注</label>
                        <div class="am-u-sm-12 am-margin-top-xs">
                            <textarea rows="10" id="input-desc" name="desc" placeholder="请输入该单备注"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-12 am-u-sm-push-12">
                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>