<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">订单录入</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">

                <form class="am-form tpl-form-border-form">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-12 am-form-label am-text-left">客户姓名 <span class="tpl-form-line-small-title">Customer</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="tpl-form-input am-margin-top-xs" id="user-name" placeholder="请输入客户姓名">
                            <small>客户姓名（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-12 am-form-label am-text-left">商品名称 <span class="tpl-form-line-small-title">Goods</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="am-form-field tpl-form-no-bg am-margin-top-xs" placeholder="请输入商品名称" data-am-datepicker="" readonly="">
                            <small>商品名称（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-12 am-form-label am-text-left">商品数量 <span class="tpl-form-line-small-title">Number</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="am-form-field tpl-form-no-bg am-margin-top-xs" placeholder="请输入商品数量" data-am-datepicker="" readonly="">
                            <small>商品数量（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-12 am-form-label am-text-left">订单总值 <span class="tpl-form-line-small-title">Value</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="am-form-field tpl-form-no-bg am-margin-top-xs" placeholder="请输入订单总值" data-am-datepicker="" readonly="">
                            <small>订单总值（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-12 am-form-label am-text-left">该单盈利 <span class="tpl-form-line-small-title">Profit</span></label>
                        <div class="am-u-sm-12">
                            <input type="text" class="am-form-field tpl-form-no-bg am-margin-top-xs" placeholder="请输入该单盈利" data-am-datepicker="" readonly="">
                            <small>该单盈利（必填）</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-intro" class="am-u-sm-12 am-form-label  am-text-left">该单备注</label>
                        <div class="am-u-sm-12 am-margin-top-xs">
                            <textarea class="" rows="10" id="user-intro" placeholder="请输入该单备注"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-12 am-u-sm-push-12">
                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>